
.header{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 20px;
    background-color:#130634;
    text-align: left;
    box-shadow: 1px;
    
}
.header img{
    width: 80px;
    height: 80px;

}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color:rgba(188, 86, 86, 0.343);
}
.navbar-brand p{
    color:black;
}
#mynav a{
    color: black;
}
.navbar-nav li a{
    color: black;
}
.vernav div{
    background-color: antiquewhite;
    border: none;
}
.vernav ul{
    float: none;
}
.container{
    background-color: rgb(204, 234, 242);
}

.panel-body img{
    max-height: 87px;
}

.img-responsive{
    width: auto;
    height: 100%;
}

.item img{
    width: 100%;
    max-height: 200px;s
}
.panel .panel-heading{
    background-color: antiquewhite;
}
.panel .panel-footer{
    background-color:rgba(223, 223, 242, 0.757);
}
.table thead tr{
    background-color: rgba(172, 72, 72, 0.556);
}
.table tbody tr:nth-child(2) {
    background-color: rgba(172, 72, 72, 0.556);
}
#home h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 20px 0 20pxs;
}
#home{
    text-align: center;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}